{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About SAM</h1>
          <span class="subheading">I am a Computer Engineer & Tech Enthusiast</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Hi there! I'm Sameet Patil, but you can call me SAM. I'm a passionate computer engineering student based in
          Pune, India.
          With a keen interest in the realms of Artificial Intelligence (AI) and Machine Learning (ML), I'm continually
          fascinated
          by the innovative solutions these fields offer to real-world problems.</p>
        <h3>Academic Pursuits</h3>
        <p>Currently pursuing my degree in Computer Engineering, I'm dedicated to exploring the intricacies of software
          development, algorithms, and system architecture. My academic journey has equipped me with a solid foundation
          in various
          programming languages and concepts, with Python being my primary tool of choice.</p>
        <h3>Python Developer</h3>
        <p>As a Python developer, I thrive on turning ideas into reality through code. Whether it's crafting robust web
          applications, building efficient algorithms, or automating mundane tasks, Python serves as my trusty companion
          in
          bringing projects to life. With experience in frameworks like Flask, I'm adept at developing scalable and
          user-friendly
          web solutions.</p>
        <h3>Passion for AI and ML</h3>
        <p>My fascination with AI and ML goes beyond the classroom. I'm deeply intrigued by the potential of these
          technologies to
          revolutionize industries and enhance human capabilities. From predictive analytics to natural language
          processing, I'm
          committed to exploring the endless possibilities AI and ML offer.</p>
        <h3>Building with Flask and Bootstrap</h3>
        <p>The website you're currently exploring is a testament to my dedication to learning and growing as a
          developer. Crafted
          entirely in Python using the Flask framework and enhanced with Bootstrap, this project represents my journey
          in
          mastering web development tools and techniques. From responsive designs to dynamic functionalities, every
          aspect of this
          website reflects my passion for crafting elegant and efficient solutions.</p>
        <a href="{{ url_for('routes.contact') }}">
          <h3>Get in Touch</h3>
        </a>
        <p>Interested in collaborating on a project or discussing the latest developments in AI and ML? Feel free to
          reach out! I'm
          always eager to connect with fellow enthusiasts, exchange ideas, and embark on new ventures.</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}