{% include "header.html" %}
{% block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ user.username }}'s Blob Account</h1>
                    <span class="subheading">your MIND. your EXPRESSION. your LIFE.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <!-- User Information -->
            <div class="card mb-4 position-relative">
                <div class="card-body">

                    <!-- User Information -->
                    <h4 class="card-title">User Information</h4>
                    <hr class="my-4" />
                    <!-- Gravatar at the Top-Right -->
                    <img src="{{ user.email | gravatar(size=80) }}" alt="User Avatar"
                        class="rounded position-absolute top-1 end-0 m-3 mt-1" />

                    <p class="card-text" style="margin: 0.5rem 0;"><strong>Username:</strong> {{ user.username }}</p>
                    {% if current_user.is_authenticated and current_user==user %}
                    <p class="card-text" style="margin: 0.5rem 0;"><strong>Email:</strong> {{ user.email }}</p>
                    {% endif %} 
                    <p class="card-text" style="margin: 0.5rem 0;"><strong>Joined:</strong> {{ user.date_joined.strftime('%d-%m-%Y') }}</p>
                    <p class="card-text" style="margin: 0.5rem 0;"><strong>No of Posts:</strong> {{ posts.__len__() }}</p>
                    {% if current_user.is_authenticated and current_user==user %}
                    <a href="{{ url_for('routes.edit_account') }}" class="btn btn-primary mt-3">Edit Account Info</a>
                    {% endif %}
                </div>
            </div>

            <!-- New Post Button -->
            {% if current_user.is_authenticated and current_user==user %}
            <div class="d-flex justify-content-end mb-4">
                <div class="sticky-top"><a class="btn btn-primary float-right"
                        href="{{ url_for('routes.add_new_post') }}">Create New
                        Post</a></div>
            </div>
            {% endif %}

            <!-- User's Posts -->
            <h3 class="mb-4">{{ user.username }}'s Blobs</h3>
            <hr class="my-4" />

            {% for post in posts %}
            <div class="post-preview">
                <a href="{{ url_for('routes.show_post', post_id=post.id) }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                </a>
                <p class="post-meta">
                    Posted by {{ post.author.username }} on {{ post.date }}
                    <!-- Delete Post -->
                    {% if current_user.is_authenticated and post.author == current_user %}
                    <a href="{{ url_for('routes.delete_post', post_id=post.id) }}" class="text-danger ms-2">✘</a>
                    {% endif %}
                </p>
            </div>
            <!-- Divider -->
            <hr class="my-4" />
            {% endfor %}

            <!-- No Posts Fallback -->
            {% if posts|length == 0 %}
            <p class="text-center">You haven't created any blobs yet. Start expressing yourself!</p>
            {% endif %}
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}